body{
    background-color: aqua;
    margin: 0;
    font-family: Arial, sans-serif;
}

.vestuario{
    display: flex;
}

#calcados{
    background-color: lightblue;
    width: 50%;
    height: 300px;
    padding: 20px;
}

#camisetas{
    background-color: rgb(232, 49, 2);
    width: 50%;
    height: 300px;
    padding: 20px;
    color: white;
}